/* For leaflet-draw */
.sr-only {
  display: none;
}

/* Set map size */
#mapid { 
  height: 87vh;
  bottom: 0;
 }

/* nabar image */
.compass {
  width: 10% 
}

/* navbar backgound */
#nav-bar {
  background-image: url("./images/SpoonGraphics-Topographic-Map-1.png") 
}

div#basic-navbar-nav {
  margin-right: 40px;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
  margin-right: 160px;
  margin-top: 15px;
}

/* padd out the notification icon */
  #notification {
    margin-right: 10px;
  }


/* Card styling */
.card {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
/* signin and log inimages */
.card-img {
  padding: 16px
}

/* style lists to match cards */
.list-group {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

/* Nav Icons */
ion-icon {
  font-size: 32px;
}
 /* Sapce the submit button out */
.form-btn {
  margin-top: 10px;
}
/* space out form labels */
.form-label {
  margin-top: 10px;
}
/*  */
.trip-list .list-group-item.active {
  background-color: green;
}

.trip-list .list-group-item:hover {
  background-color:rgba(0, 128, 0, 0.3);
}

/* Drawer stuff */
.map-respond {
  transition: transform 0.5s;
  will-change: transform;
  margin-left: 400px;
}

map {
  transition: transform 0.5s;
  will-change: transform;
  margin-left: 0px;
}

.slide-pane .slide-pane__title {
  font-size: 16px;
}

.pane-overlay {
  margin-top: 6.28%
}