/* For leaflet-draw */
.sr-only {
  display: none;
}

/* Set map size */
#mapid { height: 100vh; }

/* nabar image */
.compass {
  width: 5% 
}

/* Nav Icons */
ion-icon {
  font-size: 32px;
}
 /* Sapce the submit button out */
.form-btn {
  margin-top: 10px;
}
/* space out form labels */
.form-label {
  margin-top: 10px;
}
/*  */
.trip-list .list-group-item.active {
  background-color: green;
}

.trip-list .list-group-item:hover {
  background-color:rgba(0, 128, 0, 0.3);
}