/* For leaflet-draw */
.sr-only {
  display: none;
}

/* Set map size */
#mapid { height: 100vh; }

/* nabar image */
.compass {
  width: 5% 
}

/* Nav Icons */
ion-icon {
  font-size: 32px;
}

.dropdown {text-align:center;}
.button, .dropdown-menu {margin:10px auto}